body{
    padding-top: 76px;
}
a{
    text-decoration: none;
}
.box-shadow{
    box-shadow: 0 2px 4px rgba(0,0,0,0.05),
                0 4px 8px rgba(0,0,0,0.05);
}
.icone{
    height: 100px;
}
#home-quote{
    background: url("../img/bg-quote.jpg") center center;
    object-fit: cover;
}
.borderNone{
    border: none;
}
.maxBtn{
    max-width: 140px;
}
@media (max-width: 767px){
    body{
        padding-top: 0px;
    }
    .fixed-top{
        position: relative;
    }
    .centralizar{
        text-align: center;
    }
    .maxBtn{
        max-width: 100%;
    }
}